<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property scope="context" name="log.fileName" value="app-sample1"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [${HOSTNAME}] [%thread] %level %logger{36}@%method:%line - %msg%n</pattern>
        </layout>
    </appender>

    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>logstash:5000</destination>
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
        <keepAliveDuration>2 minutes</keepAliveDuration>
    </appender>

    <logger name="com.maestro.app" level="INFO">
        <appender-ref ref="STASH"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="ERROR">
        <appender-ref ref="STASH"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>